
{% extends '::experimentbase.html.twig' %}
{% block body %}
Hello {{ name }}!

<button type="button" class="btn btn-danger" data-toggle="collapse" data-target="#demo">
  simple collapsible
</button>

<div id="demo" class="collapse in">fdsafsdfsd </div>



{% endblock body %}