/* 
    Document   : vdcsasa
    Created on : 28.7.2012, 5:27:14
    Author     : uros
    Description:
        Purpose of the stylesheet follows.
*/

h1 { font-family: 'Schoolbell', arial, serif; }

.shadowO {
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
  -webkit-box-shadow: 3px 3px 5px 6px #ccc;
  box-shadow:         3px 3px 5px 6px #ccc;
}

.papir {
    background-image:url('../img/free-paper-texture-7.jpg'); 
    padding: 55px;
    -webkit-box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.8) ;
    -o-box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.8) ;
    -moz-box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.8) ;
    box-shadow: 2px 6px 6px rgba(0, 0, 0, 0.8) ;

    border-width:25px 30px 10px 20px;
    -moz-border-image:url('../img/free-paper-texture-7.jpg') 25 30 10 20 repeat;
    -webkit-border-image:url('../img/free-paper-texture-7.jpg') 25 30 10 20 repeat;
    border-image:url('../img/free-paper-texture-7.jpg') 25 30 10 20 repeat;
}

#round
{
    -moz-border-image:url('../../images/wood/border.png') 30 30 round; /* Old Firefox */
    -webkit-border-image:url('../../images/wood/border.png') 30 30 round; /* Safari */
    -o-border-image:url('../../images/wood/border.png') 30 30 round; /* Opera */
    border-image:url('../../images/wood/border.png') 30 30 round;
}

#stretch
{
    -moz-border-image:url(border.png) 30 30 stretch; /* Old Firefox */
    -webkit-border-image:url(border.png) 30 30 stretch; /* Safari */
    -o-border-image:url(border.png) 30 30 stretch; /* Opera */
    border-image:url(border.png) 30 30 stretch;
}

.roundtop {
    background-image: url(rounded-top.jpg);
    width: 315px;
    height: 10px;
}
.roundside {
    background-image: url(rounded-sides.jpg);
    background-repeat: repeat-y;
    width: 315px;
    text-align: center;
}
.roundbottom {
    background-image: url(rounded-bottom.jpg);
    width: 315px;
    height: 10px;
}

  
 masthead {background-image:url('../../images/flags/grad.png');}

      
       #body {background-image:url('http://demilked.uuuploads.com/free-paper-textures/free-paper-texture-7.jpg');} 
       #body {background-image:url('http://fc04.deviantart.net/fs11/i/2006/240/7/a/Bg_Texture___wood_by_nortago.jpg');}
       #body {background-image:url('');}
       #body {background-image:url('http://fc05.deviantart.net/fs28/i/2008/181/3/b/tileable_wood_texture_by_ftIsis_Stock.jpg');}
       
       #body {background-image:url('../img/KOA.jpg');}
          body {background-color: rgb(40,40,40);}
       

            body {
        padding-top: 20px;
        padding-bottom: 40px;
      }

      /* Custom container */
      .container-narrow {
        margin: 0 auto;
        max-width: 700px;
      }
      .container-narrow > hr {
        margin: 30px 0;
      }

      /* Main marketing message and sign up button */
      .jumbotron {
        margin: 60px 0;
        text-align: center;
      }
      .jumbotron h1 {
        font-size: 72px;
        line-height: 1;
      }
      .jumbotron .btn {
        font-size: 21px;
        padding: 14px 24px;
      }

      /* Supporting marketing content */
      .marketing {
        margin: 60px 0;
      }
      .marketing p + h4 {
        margin-top: 28px;
      }
         