<!DOCTYPE html>
<html>

    <head>
        {% block head %}
            <meta charset="UTF-8" />
            <title>{% block title %}Welcome!{% endblock %}</title>
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <meta name="description" content="">
            <meta name="author" content="Uroš Gabrovec">
           {% block stylesheets %}
            <link rel="stylesheet" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css" />
            <link href="{{ asset('bundles/survey/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/survey/css/bootstrap-responsive.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('bundles/survey/css/chosen.css') }}" type="text/css" rel="stylesheet" />
            <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
            <!--[if lt IE 9]>
            <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
            <![endif]-->
           {% endblock stylesheets %}
            <!-- Fav and touch icons -->
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        {% endblock head %}
        </head>

        <body>
            {% block body %}
                <div class="container-narrow">
                    <div id="contentheader">{% block contentheader %}{% endblock contentheader %}</div>
                    <div id="content">{% block content %}{% endblock content%}
              {#  for javascript and other things directly after contetnt is thi contentfoot  #}
              {% block contentfoot %}{% endblock contentfoot %} 
                        </div>
                        <div id="footer">
            {% block footer %}
                                &copy; Copyright 2011 by <a href="http://root.si">ROOT d.o.o</a>.
            {% endblock %}
                            </div>
                        </div>
        {% block javascripts %}

                        <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>     
                        <script>
                              $(function() {
                                 $( ".datepicker" ).datepicker({ dateFormat: "yy-mm-dd", appendText: "(Dan/Mesec/Leto)", dayNamesMin: [ "Ne", "Po", "To", "Sr", "Če", "Pe", "So" ], monthNames: [ "Januar", "Februar", "Marec", "April", "Maj", "Junij", "Julij", "August", "September", "Oktober", "November", "December" ], firstDay: 1 , maxDate: "+1m", minDate: "-1m" });
                              });
                              $(".chzn-select").chosen(); $(".chzn-select-deselect").chosen({allow_single_deselect:true});
                            </script>
        {% endblock %}

{% endblock body %}

                        </body>
                    </html>









